/*body*/
body {
  max-width: 375px;
  padding: 0;
  margin: 0;
}

/*logo*/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  position: relative;
  z-index: 10;
}
.header__logo {
  width: 197px;
  height: 36px;
}

/*location*/
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #eaeaea;
  gap: 17px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  position: relative;
  z-index: 5;
}
.location__text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

/*hero*/
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  padding: 30px;
  gap: 15px;
}
.hero__title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.hero__text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #353535;
  text-align: center;
}
.hero__btn {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: white;
  padding: 13px 18.75px;
  border: none;
  background-image: linear-gradient(193deg, #FF79DA 0%, #9356DC 100%);
  border-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1490196078);
}

/*steps*/
.steps__title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 25px;
  padding-left: 20px;
}
.steps__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.steps__text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.steps__item {
  width: 75%;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  padding: 25px;
  margin-bottom: 20px;
  margin-left: 12px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1019607843);
}
.steps__icon {
  margin-right: 20px;
  color: #7e7e7e;
  font-size: 18px;
}
.steps__icon--purple {
  color: #9356DC;
}
.steps__number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -12px;
  background-color: #9356DC;
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: 14px;
}

/*restaurant*/
.restaurants {
  background-color: #f6f6f6;
}
.restaurants__title {
  margin-bottom: 20px;
  padding-left: 15px;
  padding-top: 15px;
}
.restaurants__grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 10px;
}

.card {
  min-height: 250px;
  background-color: white;
  border-radius: 20px;
  position: relative;
  text-decoration: none;
  display: block;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1019607843);
  overflow: hidden;
}
.card__img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__badge {
  background-color: #99E2D0;
  color: #008766;
  padding: 7px 12px;
  position: absolute;
  top: 15px;
  right: 15px;
}
.card__content {
  padding: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__title {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 5px 0;
}
.card__location {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 300;
  margin: 0;
}

/*FOOTER*/
.footer {
  background-color: #353535;
  color: white;
  padding: 10px 15px;
  margin-top: 15px;
}
.footer__title {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 7px;
}
.footer__link {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-decoration: none;
}
.footer__icon {
  width: 1.2rem; /*pour aligner */
  margin-right: 10px;
  font-size: 13px;
}/*# sourceMappingURL=style.css.map */