@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
body {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
}
.header__logo {
  width: 197px;
  height: 36px;
}
.header__back {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #353535;
  font-size: 20px;
}

.footer {
  background-color: #353535;
  color: white;
  padding: 20px 15px;
}
.footer__title {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 7px;
}
.footer__link {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row-reverse;
    align-items: center;
    gap: 50px;
  }
  .footer__list {
    flex-direction: row;
    margin-bottom: 0;
  }
}
/*-----------------*/
/*-CARD RESTAURANT-*/
/*-----------------*/
.card {
  min-height: 250px;
  background-color: white;
  border-radius: 20px;
  position: relative;
  text-decoration: none;
  display: block;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1019607843);
  overflow: hidden;
}
.card__link {
  text-decoration: none;
  color: inherit;
  display: block;
}
.card__img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__badge {
  background-color: #99E2D0;
  color: #008766;
  padding: 7px 12px;
  position: absolute;
  top: 15px;
  right: 15px;
}
.card__content {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__title {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 5px 10px;
}
.card__location {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 300;
  margin: 10px;
}
.card__btn {
  position: absolute;
  right: 25px;
  bottom: 25px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 10;
}
.card__btn .card__icon {
  font-size: 25px;
  position: absolute;
  left: 0;
  top: 0;
  transition: opacity 400ms ease-in-out;
}
.card__btn .card__icon--full {
  opacity: 0;
  background: linear-gradient(193deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.card__btn:hover .card__icon--full {
  opacity: 1;
}
.card__btn:hover .card__icon--empty {
  opacity: 0;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: white;
  padding: 13px 18.75px;
  border: none;
  background-image: linear-gradient(193deg, #FF79DA 0%, #9356DC 100%);
  border-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1490196078);
  transition: transform 300ms, box-shadow 300ms, opacity 300ms;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.85;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
  transform: scale(1.02);
}

/*----------*/
/**LOCATION-*/
/*----------*/
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #eaeaea;
  gap: 17px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  position: relative;
  z-index: 5;
}
.location__form {
  border: none;
  display: flex;
  align-items: center;
}
.location__form input {
  border: none;
  background: none;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #353535;
  width: 150px;
  text-align: center;
}
.location__form input::-moz-placeholder {
  color: #353535;
  opacity: 1;
}
.location__form input::placeholder {
  color: #353535;
  opacity: 1;
}

/*------*/
/*-HERO-*/
/*------*/
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  padding: 30px;
  gap: 15px;
}
.hero__title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.hero__text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #353535;
  text-align: center;
}
.hero__btn {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: white;
  padding: 13px 18.75px;
  border: none;
  background-image: linear-gradient(193deg, #FF79DA 0%, #9356DC 100%);
  border-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1490196078);
  transition: transform 300ms, box-shadow 300ms, opacity 300ms;
  cursor: pointer;
}
.hero__btn:hover {
  opacity: 0.85;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
  transform: scale(1.02);
}

/*-------*/
/*-STEPS-*/
/*-------*/
.steps__title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 25px;
  padding-left: 20px;
}
.steps__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.steps__text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.steps__item {
  width: 75%;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  padding: 25px;
  margin-bottom: 20px;
  margin-left: 12px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1019607843);
}
.steps__icon {
  margin-right: 20px;
  color: #7e7e7e;
  font-size: 18px;
}
.steps__icon--purple {
  color: #9356DC;
}
.steps__number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -12px;
  background-color: #9356DC;
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  font-size: 14px;
}

/*-------------*/
/*-RESTAURANTS-*/
/*-------------*/
.restaurants {
  background-color: #f6f6f6;
  padding-bottom: 50px;
}
.restaurants__title {
  margin-bottom: 20px;
  padding-left: 15px;
  padding-top: 15px;
}
.restaurants__grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 10px;
}

/*--------------*/
/*-MEDIA QUERIE-*/
/*--------------*/
@media (min-width: 768px) {
  .steps {
    padding: 0 30px;
  }
  .steps__list {
    flex-direction: row;
    gap: 20px;
  }
  .steps__item {
    flex: 1;
  }
  .restaurants__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 50px;
         column-gap: 50px;
    row-gap: 20px;
  }
}
.resto-banner {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.menu {
  background-color: #F6F6F6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  margin-top: -40px;
  padding: 30px 15px;
}

.menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__header .menu__title {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
  font-weight: 400;
}
.menu__header .menu__heart {
  position: relative;
  cursor: pointer;
  font-size: 24px;
}
.menu__header .menu__heart .fa-solid {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  background: linear-gradient(193deg, #FF79DA, #9356DC);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 1s;
}
.menu__header .menu__heart:hover .fa-solid {
  opacity: 1;
}
.menu__header .menu__heart:hover .fa-regular {
  opacity: 0;
}

.menu-item {
  background-color: white;
  padding: 0;
  display: flex;
  border-radius: 15px;
  margin: 15px 0;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  animation: slideUp 0.6s ease-out both;
}
.menu-item--1 {
  animation-delay: 0.1s;
}
.menu-item--2 {
  animation-delay: 0.2s;
}
.menu-item--3 {
  animation-delay: 0.3s;
}
.menu-item--4 {
  animation-delay: 0.4s;
}
.menu-item--5 {
  animation-delay: 0.5s;
}
.menu-item--6 {
  animation-delay: 0.6s;
}
.menu-item--7 {
  animation-delay: 0.7s;
}
.menu-item--8 {
  animation-delay: 0.8s;
}
.menu-item--9 {
  animation-delay: 0.9s;
}
.menu-item--10 {
  animation-delay: 1s;
}
.menu-item__content {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  padding: 15px;
}
.menu-item__content h3 {
  font-size: 18px;
  margin: 0;
}
.menu-item__content p {
  font-size: 15px;
  margin: 5px 0 0 0;
}
.menu-item__content h3, .menu-item__content p {
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-item__price {
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  padding: 15px;
}
.menu-item__check {
  background-color: #99E2D0;
  margin-right: -65px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  transition: margin-right 0.5s ease-in-out;
}
.menu-item__check i {
  color: white;
}
.menu-item:hover .menu-item__check {
  margin-right: 0;
}
.menu-item:hover i {
  transform: rotate(0);
}

.menu__category-title {
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom: 5px;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
}/*# sourceMappingURL=style.css.map */