//on donne emplacement du fichier
@use 'base/variables'; 
@use 'base/mixin';

/*------*/
/*-BODY-*/
/*------*/
body{
    max-width: variables.$largeur-mobile;
    padding: 0;
    margin: 0 auto;
}
/*------*/
/*-LOGO-*/
/*------*/
.header { // Le parent de votre logo
    @include mixin.flex-center;
    height: 63px; 
    box-shadow: 0px 2px 4px 0px #00000026;
    position: relative;
    z-index: 10;

    &__logo {
        width: 197px;
        height: 36px;
    }
}
/*----------*/
/**LOCATION-*/
/*----------*/
.location {
    @include mixin.flex-center;
    height: 50px;
    background-color: #eaeaea;
    gap: 17px;
    box-shadow: 0px 4px 4px 0px #00000040;
    position: relative;
    z-index: 5;

    &__text {
    @include mixin.font-roboto(16px, 500);
    }
}
/*------*/
/*-HERO-*/
/*------*/ 
.hero {
    @include mixin.flex-column;
    align-items: center;
    background-color:  #F6F6F6;
    padding: 30px;
    gap: 15px;

    &__title {
        @include mixin.font-roboto(24px, 700);
        text-align: center;
    }

    &__text {
        @include mixin.font-roboto(18px, 300);
        color: #353535;
        text-align: center;
    }

    &__btn {
        @include mixin.font-roboto(16px, 500);
        color: white;
        padding: 13px 18.75px;
        border: none;
        background-image: linear-gradient(193deg, variables.$couleur-secondaire 0%, variables.$couleur-primaire 100%);
        border-radius: variables.$rayon-bordure-btn;
        box-shadow: variables.$ombre-bordure-btn;

        transition: transform 300ms, box-shadow 300ms, opacity 300ms;
        cursor: pointer;

        &:hover{
            opacity: 0.85;
            box-shadow: 0px 4px 15px 0px #00000059;
            transform: scale(1.02);
        }
    }
}
/*-------*/
/*-STEPS-*/
/*-------*/
.steps {
    &__title {
        @include mixin.font-roboto(24px, 700);
        margin-top: 50px;
        margin-bottom: 25px;
        padding-left: 20px;
    }

    &__list {
        @include mixin.flex-column;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__text { 
        @include mixin.font-roboto(16px, 500);
    }

    &__item {
        width: 75%;
        position: relative;
        display: flex;
        align-items: center;
        background-color: #f6f6f6;
        padding: 25px;
        margin-bottom: 20px;
        margin-left: 12px;
        border-radius: variables.$rayon-bordure-card;
        box-shadow: variables.$ombre-bordure;
    }

    &__icon {
        margin-right: 20px;
        color: #7e7e7e;
        font-size: 18px;
        &--purple {
            color: #9356DC; 
        }
    }

    &__number {
        @include mixin.flex-center;
        position: absolute;
        left: -12px; 
        background-color: #9356DC;
        color: white;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        font-size: 14px;
    }
}
/*-------------*/
/*-RESTAURANTS-*/
/*-------------*/
.restaurants {
    background-color: #f6f6f6;
    padding-bottom: 50px;

    &__title {
        margin-bottom: 20px;
        padding-left: 15px;
        padding-top: 15px;
    }

    &__grid {
        @include mixin.flex-column;
        gap: 20px;
        padding: 0 10px;
    }
}
/*-----------------*/
/*-CARD RESTAURANT-*/
/*-----------------*/
.card {
    min-height: 250px;
    background-color: white;
    border-radius: variables.$rayon-bordure-card;
    position: relative;
    text-decoration: none; 
    display: block;
    box-shadow: variables.$ombre-bordure;
    overflow: hidden;
    
    &__link{
        text-decoration: none;
        color:inherit;
        display: block;
    }
    
    &__img {
        width: 100%;
        height: 175px;
        object-fit: cover;
    }
/*badge nouveau*/
    &__badge {
        background-color: #99E2D0;
        color: #008766;
        padding: 7px 12px;
        position: absolute;
        top: 15px;
        right: 15px;
    }

    &__content {
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        @include mixin.font-roboto(18px, 700);
        margin: 0 0 5px 10px;
    }

    &__location {
        @include mixin.font-roboto(17px, 300);
        margin: 10px;
    }

    /*coeur*/

    &__btn {
        position: absolute;
        right: 25px;
        bottom: 25px; 
        width: 30px;
        height: 30px;
        cursor: pointer;
        z-index: 10; 

        .card__icon {
            font-size: 25px;
            position: absolute;
            left: 0;
            top: 0;
            transition: opacity 400ms ease-in-out;

            &--full {
                opacity: 0;
                background: linear-gradient(193deg, variables.$couleur-secondaire, variables.$couleur-primaire);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
        }

        &:hover {
            .card__icon--full {
                opacity: 1; 
            }
            .card__icon--empty {
                opacity: 0; 
            }
        }
    }
}

/*--------*/
/*-FOOTER-*/
/*--------*/
.footer{
    background-color: #353535;
    color: white;
    padding: 5px 15px;

    &__title{
        @include mixin.font-shrikhand(18px);
        margin-bottom: 20px;
    }

    &__list{
        @include mixin.flex-column;
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 7px;
    }

    &__link{
        @include mixin.font-roboto(16px, 500);
        color: white;
        text-decoration: none;
    }

    &__icon {
        width: 1.2rem; /*pour aligner */
        margin-right: 10px;
        font-size: 13px;
    }
}

