//VARIABLES COULEUR
$couleur-primaire:   #9356DC;
$couleur-secondaire: #FF79DA; 
$couleur-tertiaire:  #99E2D0;

//VARIABLE BACKGROUND COULEUR
$couleur-background: #eaeaea;

// LAYOUT
$mobile-width: 375px;