//animation aparition plat

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(20px); 
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

// Une mixin pour appliquer l'animation facilement
@mixin appearance-animation {
    animation: slideUp 0.6s ease-out both;
}