//VARIABLES COULEUR
$couleur-primaire:   #9356DC;
$couleur-secondaire: #FF79DA; 
$couleur-tertiaire:  #99E2D0;

//VARIABLE BACKGROUND COULEUR
$couleur-background: #eaeaea;

// LAYOUT
$largeur-mobile: 375px;

//OMBRE BORDURE
$ombre-bordure: 0px 4px 15px #0000001a;
$ombre-bordure-btn: 0px 4px 4px #00000026;

//RAYON BORDURE
$rayon-bordure-card: 20px;
$rayon-bordure-btn: 25px;

